<div class="govuk-warning-text {{- ' ' + params.classes if params.classes}}"
  {% if params.attributes %}{%- for attribute, value in params.attributes.items() %} {{attribute}}="{{value}}"{% endfor -%}{% endif -%}
  >
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">{{ params.iconFallbackText }}</span>
    {{ params.html | safe if params.html else params.text }}
  </strong>
</div>
