{% set headingLevel = params.headingLevel if params.headingLevel else 1 %}
<div class="govuk-panel govuk-panel--confirmation
  {%- if params.classes %} {{ params.classes }}{% endif %}"
  {%- if params.attributes %}
  {%- for attribute, value in params.attributes.items %} {{attribute}}="{{value}}"{% endfor %}
  {%- endif %}>
  <h{{ headingLevel }} class="govuk-panel__title">
    {{ params.titleHtml | safe if params.titleHtml else params.titleText }}
  </h{{ headingLevel }}>
  {% if params.html or params.text %}
  <div class="govuk-panel__body">
    {{ params.html | safe if params.html else params.text }}
  </div>
  {% endif %}
</div>
