<strong class="govuk-tag{% if params.classes %} {{ params.classes }}{% endif %}"{% if params.attributes %}{% for attribute, value in params.attributes.items() %} {{ attribute }}="{{ value }}"{% endfor %}{% endif %}>
  {{ params.html | safe if params.html else params.text }}
</strong>
